extends ../layout

block content 
  .container
    h1.title= title
    .header 
      a#indexCreateNewBook(class="button" href='/books/new') Create New Book
      if (query)
        a(class="button" href='/') All Books
      form.form__search(action="/books/search" method="get")
        input#query(type="search" name="query" value=query)
        input(class="button search" id="submit" type="submit" value="Search")
    br
    if errors
        h2.error Oooops! 
        ul.error
          each error in errors 
            li
              h2= error.message 
    if(query)
      h2 Results for #{query}
    table
      thead
        tr 
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books 
          tr 
            td 
              a(href=`/books/${book.id}`)= book.title
            td= book.author 
            td= book.genre
            td= book.year
    br
    if (totalPages)
      ul.pagination
        .pagination__controls
          li &laquo;
          - var n = 1;
          while n < `${totalPages + 1}`
            li
              if n == page
                a(class="active" href=`/books?page=${n}`)= n
              else 
                a(href=`/books?page=${n}`)= n
            - ++n
          
          li &raquo;