extends ../layout

block content 
  .form__container
    h1 Update Book
    form(action=`/books/${book.id}` method="POST")
      if errors
        h2.error Oooops! 
        ul.error
          each error in errors 
            li
              h3= error.message 
      p 
        label(for="title") Title 
        input#title(type="text", name="title", value=`${book.title}`)
      p 
        label(for="author") Author
        input#author(name="author", type="text", value=`${book.author}`)
      p 
        label(for="genre") Genre 
        input#genre(type="text", name="genre", value=`${book.genre}`)
      p 
        label(for="year") Year 
        input#year(type="text", name="year", value=`${book.year}`)
      p 
        input(type="submit", value="Update the book")
        
    form(method=`post`, action=`/books/${book.id}/delete`, onsubmit=`return confirm('Do you really want to delete this book?');`) 
        p 
          a(class="button", href="/") Cancel
      
        P 
          input(type="submit", value="Delete this book")
    